@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Mulish:400,700,600|Roboto:400,700|DM+Sans:400,700|Raleway:400|IBM+Plex+Sans:400");
* {
  box-sizing: border-box;
}
.border-1px-alto {
  border: 1px solid var(--alto);
}
.mulish-bold-endeavour-57px {
  color: var(--endeavour);
  font-family: "Mulish", Helvetica;
  font-size: 57px;
  font-style: normal;
  font-weight: 700;
}
.mulish-bold-san-marino-12px {
  color: var(--san-marino);
  font-family: "Mulish", Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}
.mulish-bold-white-12px {
  color: white;
  font-family: "Mulish", Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}
.mulish-normal-dove-gray-16px {
  color: var(--dove-gray);
  font-family: "Mulish", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.mulish-semi-bold-cape-cod-14px {
  color: var(--cape-cod);
  font-family: "Mulish", Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}
.roboto-bold-black-28px {
  color: black;
  font-family: "Roboto", Helvetica;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
}
.sign-in-page {
  align-items: center;
  background-color: white;

  flex-direction: column;

  width: 100%;
}
.sign-in-page .buttons {
  align-items: center;
  display: flex;
  height: 59px;
  left: 1039px;
  position: absolute;
  top: 15px;
  width: 367px;
}
.sign-in-page .column1 {
  align-items: flex-end;

  height: 962px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 100%;
}
.sign-in-page .group-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 37px;
  width: 148px;
}
.sign-in-page .label-i2701227147 {
  height: 23px;
  left: 18px;
  letter-spacing: 0.3px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 6px;
  width: 113px;
}
.sign-in-page .label-i2701227471 {
  height: 17px;
  line-height: 17px;
  margin-top: 1px;
  min-height: 17px;
  white-space: nowrap;
}
.sign-in-page .label-i2701227495 {
  height: 18px;
  letter-spacing: 0.3px;
  line-height: 18px;
  min-height: 18px;
  white-space: nowrap;
}
.sign-in-page .links {
  align-items: flex-start;
  display: flex;
  height: 48px;
  left: 239px;
  padding: 13px 15px;
  position: absolute;
  top: 26px;
  width: 694px;
}
.sign-in-page .login-form {
  height: 600px;
  left: 956px;
  position: absolute;
  top: 114px;
  width: 1000px;
}
.sign-in-page .nav-bar {
  background-color: var(--whisper);
  height: 88px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 100%;
}
.sign-in-page .nav-bar:hover {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}
.sign-in-page .overlap-group {
  height: 962px;
  position: relative;
  width: 100%;
}
.sign-in-page .overlap-group1 {
  align-items: flex-start;
  background-size: 100% 100%;
  display: flex;
  height: 966px;
  margin-bottom: -4px;
  min-width: 886px;
  padding: 164px 68px;
}
.sign-in-page .rectangle-34 {
  height: 68px;
  left: 24px;
  position: absolute;
  top: 10px;
  width: 149px;
}
.sign-in-page .rectangle-85 {
  height: 196px;
  left: 64px;
  position: absolute;
  top: 649px;
  width: 214px;
}
.sign-in-page .rectangle-89 {
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 114px;
  left: 76px;
  position: absolute;
  top: 658px;
  width: 191px;
}
.sign-in-page .rectangle-90 {
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 114px;
  left: 512px;
  position: absolute;
  top: 658px;
  width: 190px;
}
.sign-in-page .rectangle-91 {
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 114px;
  left: 294px;
  position: absolute;
  top: 658px;
  width: 190px;
}
.sign-in-page .rectangle-92 {
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 114px;
  left: 730px;
  position: absolute;
  top: 658px;
  width: 190px;
}
.sign-in-page .rectangle-93 {
  height: 196px;
  left: 283px;
  position: absolute;
  top: 649px;
  width: 214px;
}
.sign-in-page .rectangle-94 {
  height: 196px;
  left: 500px;
  position: absolute;
  top: 649px;
  width: 214px;
}
.sign-in-page .rectangle-95 {
  height: 196px;
  left: 718px;
  position: absolute;
  top: 649px;
  width: 214px;
}
.sign-in-page .span {
  color: rgba(60, 99, 176, 1);
  font-family: "Mulish", Helvetica;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: -0.14px;
}
.sign-in-page .span1 {
  color: rgba(60, 99, 176, 1);
  font-family: "Mulish", Helvetica;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.1px;
}
.sign-in-page .start-listing-button {
  background-color: var(--fun-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 36px;
  margin-left: 36px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 145px;
}
.sign-in-page .start-listing-button:hover {
  transform: scale(1.1);
}
.sign-in-page .text-1 {
  height: 279px;
  letter-spacing: 0.57px;
  line-height: 63.5px;
  margin-left: 9px;
  min-height: 279px;
  width: 645px;
}
.sign-in-page .text-2 {
  height: 107px;
  letter-spacing: 0px;
  min-height: 107px;
  width: 684px;
}
.sign-in-page .text-3 {
  height: 18px;
  letter-spacing: 0.2px;
  line-height: 18px;
  min-height: 18px;
  min-width: 28px;
  pointer-events: auto;
  transition: all 0.2s ease;
  white-space: nowrap;
}
.sign-in-page .text-4 {
  height: 18px;
  letter-spacing: 0.2px;
  line-height: 18px;
  margin-left: 47px;
  min-height: 18px;
  min-width: 49px;
  white-space: nowrap;
}
.sign-in-page .text-5 {
  height: 18px;
  letter-spacing: 0.2px;
  line-height: 18px;
  margin-left: 47px;
  min-height: 18px;
  min-width: 59px;
  white-space: nowrap;
}
.sign-in-page .text-6 {
  height: 18px;
  letter-spacing: 0.2px;
  line-height: 18px;
  margin-left: 47px;
  min-height: 18px;
  min-width: 128px;
  white-space: nowrap;
}
.sign-in-page .text-7 {
  height: 18px;
  letter-spacing: 0.2px;
  line-height: 18px;
  margin-left: 47px;
  min-height: 18px;
  min-width: 40px;
  white-space: nowrap;
}
.sign-in-page .text-8 {
  height: 18px;
  letter-spacing: 0.2px;
  line-height: 18px;
  margin-left: 47px;
  min-height: 18px;
  min-width: 33px;
  white-space: nowrap;
}
.sign-in-page .text-9 {
  height: 18px;
  letter-spacing: 0.2px;
  line-height: 18px;
  margin-left: 47px;
  min-height: 18px;
  pointer-events: auto;
  transition: all 0.2s ease;
  white-space: nowrap;
}
.sign-in-page .text-9:hover {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}
.sign-in-page .textual-area {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 386px;
  width: 686px;
}
.sign-in-page .video-text {
  left: 760px;
  letter-spacing: 0px;
  position: absolute;
  text-align: center;
  top: 786px;
}
.sign-in-page .video-text-1 {
  left: 542px;
  letter-spacing: 0px;
  position: absolute;
  text-align: center;
  top: 786px;
}
.sign-in-page .for-sale-by-owner-faq {
  align-items: flex-end;
  display: flex;
  height: 72px;
  margin-right: 51px;
  margin-top: 37px;
  width: 1315px;
}
.sign-in-page .video-text-2 {
  left: 324px;
  letter-spacing: 0px;
  position: absolute;
  text-align: center;
  top: 786px;
}
.sign-in-page .video-text-3 {
  left: 106px;
  letter-spacing: 0px;
  position: absolute;
  text-align: center;
  top: 786px;
}
:root {
  --alto: rgba(217, 217, 217, 1);
  --cape-cod: rgba(55, 63, 65, 1);
  --dove-gray: rgba(113, 107, 107, 1);
  --endeavour: rgba(11, 90, 165, 1);
  --fun-blue: rgba(12, 90, 165, 1);
  --san-marino: rgba(60, 99, 176, 1);
  --whisper: rgba(244, 246, 251, 1);
}
.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
