.all-cash {
  letter-spacing: 0px;
  margin-left: 7px;
  margin-top: 3px;
  min-height: 23px;
  min-width: 75px;
}
.buyers {
  letter-spacing: 0px;
  margin-top: 16px;
  min-height: 16px;
}
.buyers-agent {
  letter-spacing: 0px;
  margin-top: 13px;
  min-height: 16px;
}
.calendar-1 {
  height: 30px;
  object-fit: cover;
  width: 30px;
}
.cancel-1 {
  align-self: center;
  height: 16px;
  margin-bottom: 0.39px;
  object-fit: cover;
  width: 16px;
}
.coin-1 {
  height: 30px;
  object-fit: cover;
  width: 30px;
}
.coins-1 {
  align-self: flex-start;
  height: 30px;
  object-fit: cover;
  width: 30px;
}
.contingencies {
  letter-spacing: 0px;
  min-height: 23px;
}
.contingencies-1 {
  align-items: flex-start;
  display: flex;
  height: 150px;
  left: 18px;
  min-width: 964px;
  position: absolute;
  top: 772px;
}
.date {
  letter-spacing: 0px;
  min-height: 23px;
}
.date-1 {
  letter-spacing: 0px;
  margin-top: 48px;
  min-height: 23px;
}
.downloading-file-1 {
  height: 19px;
  margin-bottom: 1px;
  margin-left: 127px;
  width: 22px;
}
.downloading-file-2 {
  height: 19px;
  margin-bottom: 1px;
  margin-left: 97px;
  width: 22px;
}
.downloading-file-3 {
  height: 19px;
  margin-bottom: 1px;
  margin-left: 102px;
  width: 22px;
}
.downloading-file-4 {
  align-self: flex-end;
  height: 18px;
  margin-left: 55px;
  width: 20px;
}
.downloading-file-5 {
  align-self: flex-end;
  height: 18px;
  margin-left: 94px;
  width: 20px;
}
.due-diligence-fee {
  letter-spacing: 0px;
  margin-top: 20px;
  min-height: 16px;
}
.fha {
  letter-spacing: 0px;
  min-height: 16px;
}
.fha-loan {
  letter-spacing: 0px;
  min-height: 16px;
}
.financial-1 {
  align-self: flex-start;
  height: 30px;
  object-fit: cover;
  width: 30px;
}
.financials {
  align-items: center;
  display: flex;
  height: 236px;
  left: 18px;
  min-width: 816px;
  position: absolute;
  top: 216px;
}
.financials-1 {
  letter-spacing: 0px;
  min-height: 23px;
}
.financing {
  letter-spacing: 0px;
  margin-top: 13px;
  min-height: 16px;
}
.flex-col {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  min-height: 247px;
  width: 208px;
}
.flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 93px;
  margin-top: 7px;
  min-height: 73px;
  width: 36px;
}
.flex-col-10 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 179px;
  margin-top: 4px;
  min-height: 162px;
  width: 60px;
}
.flex-col-11 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-left: 31px;
  margin-top: 6px;
  min-height: 82px;
  width: 208px;
}
.flex-col-12 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 73px;
  min-height: 84px;
  width: 158px;
}
.flex-col-13 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 31px;
  margin-top: 4px;
  min-height: 162px;
  width: 60px;
}
.flex-col-14 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 24px;
  min-height: 66px;
  width: 36px;
}
.flex-col-15 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 56px;
  min-height: 84px;
  width: 189px;
}
.flex-col-16 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 203px;
  margin-top: 24px;
  min-height: 66px;
  width: 117px;
}
.flex-col-17 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 121px;
  margin-top: 39px;
  min-height: 94px;
  width: 118px;
}
.flex-col-18 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  min-height: 233px;
  width: 201px;
}
.flex-col-19 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 185px;
  margin-top: 4px;
  min-height: 162px;
  width: 60px;
}
.flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  min-height: 120px;
  width: 158px;
}
.flex-col-20 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 9px;
  min-height: 118px;
  width: 192px;
}
.flex-col-21 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 127px;
  margin-top: 39px;
  min-height: 94px;
  width: 118px;
}
.flex-col-22 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 128px;
  margin-top: 24px;
  min-height: 66px;
  width: 117px;
}
.flex-col-23 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-top: 7px;
  min-height: 73px;
  width: 146px;
}
.flex-col-24 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 82px;
  min-height: 84px;
  width: 189px;
}
.flex-col-3 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 7px;
  margin-left: 24px;
  min-height: 165px;
  width: 118px;
}
.flex-col-4 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  min-height: 113px;
  width: 208px;
}
.flex-col-5 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  min-height: 141px;
  width: 208px;
}
.flex-col-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 209px;
  margin-top: 7px;
  min-height: 73px;
  width: 36px;
}
.flex-col-7 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: -0.11px;
  margin-left: 142px;
  min-height: 61px;
  width: 657px;
}
.flex-col-8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  margin-top: 1px;
  min-height: 130px;
  width: 192px;
}
.flex-col-9 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-left: 37px;
  margin-top: 6px;
  min-height: 82px;
  width: 208px;
}
.flex-row {
  align-items: center;
  display: flex;
  margin-left: 8px;
  min-width: 616px;
}
.flex-row-1 {
  align-items: flex-start;
  display: flex;
  margin-top: 13px;
  min-width: 657px;
}
.home-warranty {
  letter-spacing: 0px;
  margin-top: 13px;
  min-height: 16px;
}
.house-1 {
  height: 30px;
  object-fit: cover;
  width: 30px;
}
.inclusionsexclusions {
  align-items: center;
  display: flex;
  height: 144px;
  left: 18px;
  min-width: 792px;
  position: absolute;
  top: 1090px;
}
.key-contacts {
  align-items: flex-end;
  display: flex;
  height: 123px;
  left: 18px;
  min-width: 945px;
  position: absolute;
  top: 1256px;
}
.key-dates {
  align-items: flex-start;
  display: flex;
  height: 250px;
  left: 18px;
  min-width: 874px;
  position: absolute;
  top: 492px;
}
.loan-1 {
  height: 30px;
  margin-left: 131px;
  object-fit: cover;
  width: 30px;
}
.loan-2 {
  height: 30px;
  margin-left: 119px;
  object-fit: cover;
  width: 30px;
}
.miscellaneous {
  letter-spacing: 0px;
  min-height: 23px;
}
.miscellaneous-1 {
  align-items: center;
  display: flex;
  height: 122px;
  left: 21px;
  min-width: 870px;
  position: absolute;
  top: 944px;
}
.more- {
  height: 15px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 15px;
}
.more--1 {
  height: 15px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 15px;
}
.more-1 {
  height: 15px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 15px;
}
.more-2 {
  height: 15px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 15px;
}
.mortgage {
  letter-spacing: 0px;
  margin-left: 8px;
  margin-top: 3px;
  min-height: 23px;
  min-width: 89px;
}
.name {
  letter-spacing: 0px;
  margin-top: 20px;
  min-height: 16px;
}
.name-1 {
  letter-spacing: 0px;
  margin-top: 20px;
  min-height: 16px;
}
.name-2 {
  letter-spacing: 0px;
  min-height: 16px;
}
.name-3 {
  letter-spacing: 0px;
  min-height: 16px;
}
.name-4 {
  letter-spacing: 0px;
  margin-top: 20px;
  min-height: 16px;
}
.name-5 {
  letter-spacing: 0px;
  min-height: 16px;
}
.name-6 {
  letter-spacing: 0px;
  margin-top: 16px;
  min-height: 16px;
}
.name-7 {
  letter-spacing: 0px;
  margin-top: 20px;
  min-height: 16px;
}
.name-of-buyers {
  align-items: center;
  display: flex;
  height: 46px;
  left: 270px;
  min-width: 715px;
  position: absolute;
  top: 9px;
}
.no-home-warrenty {
  letter-spacing: 0px;
  min-height: 16px;
}
.offer-contact {
  color: rgba(31, 161, 255, 1);
  font-family: "Roboto", Helvetica;
  font-size: 20px;
  letter-spacing: 0px;
  margin-left: 5px;
  margin-top: 3px;
  min-height: 23px;
  min-width: 122px;
  text-decoration: underline;
}
.offer-contact-1 {
  letter-spacing: 0px;
  margin-left: 5px;
  margin-top: 3px;
  min-height: 23px;
  min-width: 122px;
  text-decoration: underline;
}
.offer-contact-2 {
  letter-spacing: 0px;
  margin-left: 12px;
  margin-top: 3px;
  min-height: 23px;
  min-width: 122px;
}
.offer-contact-3 {
  align-items: center;
  display: flex;
  height: 30px;
  left: 18px;
  min-width: 935px;
  position: absolute;
  top: 67px;
}
.offer-price {
  letter-spacing: 0px;
  margin-top: 13px;
  min-height: 16px;
}
.offer-summary {
  align-items: flex-start;
  display: flex;
  width: 1000px;
}
.offeroverlap-group {
  height: 1403px;
  position: relative;
  width: 1000px;
}
.offeroverlap-group1 {
  height: 15px;
  margin-bottom: 1px;
  margin-left: 14px;
  position: relative;
  width: 22px;
}
.offeroverlap-group2 {
  height: 23px;
  margin-bottom: 1px;
  position: relative;
  width: 230px;
}
.offeroverlap-group3 {
  height: 15px;
  margin-bottom: 1px;
  margin-left: 4px;
  position: relative;
  width: 22px;
}
.payment {
  align-items: center;
  display: flex;
  height: 61px;
  left: 18px;
  min-width: 920px;
  position: absolute;
  top: 119px;
}
.payment-1 {
  letter-spacing: 0px;
  margin-left: 12px;
  margin-top: 11.73px;
  min-height: 23px;
  min-width: 81px;
}
.place {
  letter-spacing: 0px;
  min-height: 16px;
}
.place-1 {
  letter-spacing: 0px;
  margin-top: 34px;
  min-height: 16px;
}
.place-2 {
  letter-spacing: 0px;
  margin-top: 41px;
  min-height: 16px;
}
.pre-approvel-letter {
  letter-spacing: 0px;
  margin-left: 10px;
  min-height: 16px;
  text-decoration: underline;
}
.pre-approvel-letter-1 {
  letter-spacing: 0px;
  margin-left: 10px;
  min-height: 16px;
  min-width: 122px;
  text-decoration: underline;
}
.price {
  letter-spacing: 0px;
  margin-top: 20px;
  min-height: 16px;
}
.price-1 {
  letter-spacing: 0px;
  margin-top: 39px;
  min-height: 16px;
}
.price-2 {
  letter-spacing: 0px;
  min-height: 16px;
}
.price-3 {
  letter-spacing: 0px;
  min-height: 16px;
}
.price-4 {
  letter-spacing: 0px;
  margin-top: 20px;
  min-height: 16px;
}
.price-5 {
  letter-spacing: 0px;
  margin-top: 20px;
  min-height: 16px;
}
.price-6 {
  letter-spacing: 0px;
  min-height: 16px;
}
.save-money-2 {
  height: 30px;
  margin-top: 8.73px;
  object-fit: cover;
  width: 30px;
}
.save-money-3 {
  height: 30px;
  object-fit: cover;
  width: 30px;
}
.settlement-date {
  letter-spacing: 0px;
  margin-top: 13px;
  min-height: 16px;
}
.span0 {
  color: rgba(86, 85, 85, 1);
  font-family: "Roboto", Helvetica;
  font-size: 14px;
}
.span1 {
  color: rgba(0, 0, 0, 1);
  font-family: "Roboto", Helvetica;
  font-size: 14px;
}
.surname {
  letter-spacing: 0px;
  min-height: 23px;
}
.team-1 {
  align-self: flex-start;
  height: 30px;
  object-fit: cover;
  width: 30px;
}
.team-2 {
  align-self: flex-start;
  height: 30px;
  object-fit: cover;
  width: 30px;
}
.text- {
  letter-spacing: 0px;
  margin-top: 3px;
  min-height: 16px;
}
.offertext-1 {
  left: 20px;
  letter-spacing: 0px;
  position: absolute;
  top: 0px;
}
.offertext-1-1 {
  letter-spacing: 0px;
  margin-top: 34px;
  min-height: 32px;
  width: 208px;
}
.offertext-10 {
  letter-spacing: 0px;
  margin-top: 20px;
  min-height: 32px;
  width: 208px;
}
.offertext-11 {
  letter-spacing: 0px;
  margin-top: 3px;
  min-height: 32px;
  width: 208px;
}
.offertext-12 {
  letter-spacing: 0px;
  margin-top: 2px;
  min-height: 32px;
  width: 201px;
}
.offertext-13 {
  letter-spacing: 0px;
  margin-top: 4px;
  min-height: 32px;
  width: 208px;
}
.offertext-14 {
  letter-spacing: 0px;
  min-height: 32px;
  width: 208px;
}
.offertext-15 {
  letter-spacing: 0px;
  margin-top: 17px;
  min-height: 64px;
  width: 208px;
}
.offertext-18 {
  letter-spacing: 0px;
  margin-top: 29px;
  min-height: 32px;
  width: 192px;
}
.offertext-19 {
  letter-spacing: 0px;
  margin-top: 16px;
  min-height: 32px;
  width: 192px;
}
.offertext-2 {
  letter-spacing: 0px;
  margin-left: 5px;
  min-height: 46px;
  width: 206px;
}
.offertext-20 {
  letter-spacing: 0px;
  margin-top: 2px;
  min-height: 16px;
}
.offertext-21 {
  letter-spacing: 0px;
  min-height: 23px;
}
.offertext-22 {
  letter-spacing: 0px;
  margin-top: 13px;
  min-height: 32px;
  width: 208px;
}
.offertext-23 {
  letter-spacing: 0px;
  margin-top: 9px;
  min-height: 32px;
  width: 208px;
}
.offertext-24 {
  letter-spacing: 0px;
  min-height: 16px;
}
.offertext-25 {
  letter-spacing: 0px;
  margin-top: 16px;
  min-height: 16px;
}
.offertext-26 {
  letter-spacing: 0px;
  margin-top: 16px;
  min-height: 16px;
}
.offertext-27 {
  letter-spacing: 0px;
  margin-top: 20px;
  min-height: 16px;
}
.offertext-3 {
  letter-spacing: 0px;
  margin-left: 5px;
  min-height: 46px;
  width: 209px;
}
.offertext-4 {
  align-self: center;
  letter-spacing: 0px;
  margin-bottom: 0.39px;
  margin-left: 9px;
  min-height: 16px;
  min-width: 179px;
}
.offertext-5 {
  letter-spacing: 0px;
  margin-top: 20px;
  min-height: 16px;
}
.offertext-8 {
  letter-spacing: 0px;
  margin-top: 3px;
  min-height: 32px;
  width: 201px;
}
.offertext-9 {
  letter-spacing: 0px;
  margin-top: 22px;
  min-height: 16px;
}
.typical-no {
  letter-spacing: 0px;
  margin-top: 1px;
  min-height: 16px;
}
.typical-none {
  letter-spacing: 0px;
  min-height: 16px;
}
.offervector-117 {
  height: 1403px;
  left: 269px;
  position: absolute;
  top: 0px;
  width: 2px;
}
.offervector-118 {
  height: 1403px;
  left: 503px;
  position: absolute;
  top: 0px;
  width: 2px;
}
.offervector-119 {
  height: 1403px;
  left: 753px;
  position: absolute;
  top: 0px;
  width: 2px;
}
.offervector-120 {
  height: 1px;
  left: 0px;
  position: absolute;
  top: 57px;
  width: 1000px;
}
.offervector-121 {
  height: 2px;
  left: 0px;
  position: absolute;
  top: 108px;
  width: 1000px;
}
.offervector-122 {
  height: 1px;
  left: 0px;
  position: absolute;
  top: 201px;
  width: 1000px;
}
.offervector-123 {
  height: 2px;
  left: 0px;
  position: absolute;
  top: 478px;
  width: 1000px;
}
.offervector-124 {
  height: 1px;
  left: 0px;
  position: absolute;
  top: 763px;
  width: 1000px;
}
.offervector-125 {
  height: 2px;
  left: 0px;
  position: absolute;
  top: 934px;
  width: 1000px;
}
.offervector-126 {
  height: 1px;
  left: 0px;
  position: absolute;
  top: 1083px;
  width: 1000px;
}
.offervector-127 {
  height: 2px;
  left: 0px;
  position: absolute;
  top: 1250px;
  width: 1000px;
}
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:400");
* {
  box-sizing: border-box;
}
.border-1px-black {
  border: 1px solid var(--black);
}
.roboto-normal-azure-radiance-14px {
  color: var(--azure-radiance);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-azure-radiance-20px {
  color: var(--azure-radiance);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-20px);
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-black-14px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-black-20px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-20px);
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-white-14px {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
:root {
  --azure-radiance: rgba(0, 147, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --font-family-roboto: "Roboto", Helvetica;
  --font-size-20px: 20px;
  --font-size-m: 14px;
  --white: rgba(255, 255, 255, 1);
}
