.icon-outlined-d-ns-chevron-left {
  align-items: center;
  display: flex;
  height: 64px;
  left: 60px;
  padding: 0 23px;
  position: absolute;
  top: 132px;
  width: 64px;
}
.icon-outlined-d-s-chevron-right.icon-outlined-d-ns-chevron-left {
  align-self: center;
  left: unset;
  margin-bottom: 0.79px;
  margin-left: 15px;
  position: relative;
  top: unset;
}
.homevector {
  height: 34px;
  width: 18px;
}
.contact-us-panel {
  align-items: center;
  background-color: var(--whisper);
  display: flex;
  height: 697px;
  margin-right: -10px;
  min-width: 100%;
  padding: 21.6px 19.3px;
}
.discription {
  left: 24px;
  letter-spacing: 0.2px;
  line-height: 18px;
  position: absolute;
  top: 12px;
  width: 513px;
}
.email {
  height: 18px;
  left: 23px;
  letter-spacing: 0.2px;
  line-height: 18px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.first-name {
  height: 18px;
  left: 23px;
  letter-spacing: 0.2px;
  line-height: 18px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.flat-fee-brokers {
  height: 18px;
  left: 164px;
  letter-spacing: 0.3px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 153px;
  white-space: nowrap;
}
.flat-free-brokers {
  align-items: flex-start;
  background-color: var(--whisper);
  display: flex;
  flex-direction: column;
  height: 471px;
  margin-top: 11px;
  padding: 9.8px 5.8px;
  width: 100%;
}
.flex-row {
  align-items: flex-end;
  display: flex;
  margin-left: 0.5px;
  margin-top: 34px;
  min-width: 615px;
}
.flex-row-1 {
  align-items: flex-end;
  display: flex;
  margin-left: 0.5px;
  margin-top: 3px;
  min-width: 615px;
}
.frame-32 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  height: 618px;
  overflow: hidden;
  padding: 0 17.2px;
  width: 701px;
}
.home-page {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 3317px;
  overflow: hidden;
  width: 100%;
}
.home-search-panel {
  background-color: var(--whisper);
  height: 275px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 100%;
}
.home-search-panel:hover {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}
.label {
  height: 18px;
  left: 20px;
  letter-spacing: 0.3px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 10px;
  white-space: nowrap;
}
.label-1 {
  height: 18px;
  left: 18px;
  letter-spacing: 0.3px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 12px;
  transform: rotate(-180deg);
  white-space: nowrap;
}
.label-2 {
  height: 18px;
  left: 18px;
  letter-spacing: 0.3px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 12px;
  white-space: nowrap;
}
.last-name {
  height: 15px;
  left: 23px;
  letter-spacing: 0.2px;
  line-height: 18px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
  width: 77px;
}
.homeoverlap-group {
  height: 184px;
  margin-left: 0.25px;
  margin-top: 11px;
  position: relative;
  width: 550px;
}
.homeoverlap-group-1 {
  height: 63px;
  position: relative;
  width: 272px;
}
.homeoverlap-group-2 {
  height: 60px;
  margin-left: 72px;
  position: relative;
  width: 272px;
}
.homeoverlap-group-3 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  height: 46px;
  justify-content: flex-end;
  left: 127px;
  min-width: 286px;
  padding: 13px 14px;
  position: absolute;
  top: 208px;
}
.homeoverlap-group1 {
  height: 254px;
  margin-left: -4px;
  margin-top: -0.19px;
  position: relative;
  width: 435px;
}
.homeoverlap-group1-1 {
  height: 63px;
  margin-top: 19px;
  position: relative;
  width: 272px;
}
.homeoverlap-group10 {
  height: 269px;
  position: relative;
  width: 409px;
}
.homeoverlap-group2 {
  height: 40px;
  left: 260px;
  position: absolute;
  top: 1px;
  width: 924px;
}
.homeoverlap-group6 {
  height: 190px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 266px;
}
.homeoverlap-group7 {
  height: 221px;
  left: 4px;
  position: absolute;
  top: 0px;
  width: 296px;
}
.homeoverlap-group8 {
  height: 207px;
  left: 4px;
  position: absolute;
  top: 0px;
  width: 285px;
}
.homeoverlap-group9 {
  height: 218px;
  left: 4px;
  position: absolute;
  top: 0px;
  width: 294px;
}
.partner-button {
  background-color: var(--san-marino);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 42px;
  left: 668px;
  pointer-events: auto;
  position: absolute;
  top: 362px;
  transform: rotate(180deg);
  transition: all 0.2s ease;
  width: 104px;
}
.partner-button-1 {
  height: 55px;
  margin-left: -4px;
  margin-top: 43px;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 158px;
}
.partner-button-1:hover {
  transform: scale(1.1);
}
.partner-button-2 {
  background-color: var(--san-marino);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 42px;
  margin-left: 211.25px;
  margin-top: 34px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 150px;
}
.partner-button-2:hover {
  transform: scale(1.1);
}
.partner-button:hover {
  transform: scale(1.1);
}
.phone-no {
  height: 15px;
  left: 23px;
  letter-spacing: 0.2px;
  line-height: 18px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
  width: 77px;
}
.profession {
  height: 18px;
  left: 23px;
  letter-spacing: 0.2px;
  line-height: 18px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.quick-listing {
  left: 148px;
  letter-spacing: 0.1px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 124px;
  white-space: nowrap;
  width: 117px;
}
.homequote-info {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.62px;
  margin-left: 334px;
  min-height: 287px;
  width: 540px;
}
.recent-sale-panel {
  height: 486px;
  margin-right: -10px;
  margin-top: 14px;
  position: relative;
  width: 100%;

  transform: translate(0, 25px);
}
.recent-sales {
  left: 260px;
  letter-spacing: 0.1px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 34px;
  white-space: nowrap;
  width: 922px;
}
.homerectangle-10 {
  height: 624px;
  margin-bottom: 0.94px;
  margin-left: 60px;
  object-fit: cover;
  width: 614px;
}
.homerectangle-54 {
  background-color: var(--white);
  border-radius: 14px;
  height: 165px;
  left: 772px;
  position: absolute;
  top: 37px;
  width: 217px;
}
.homerectangle-56 {
  background-color: var(--white);
  border-radius: 14px;
  height: 165px;
  left: 1125px;
  position: absolute;
  top: 28px;
  width: 217px;
}
.homerectangle-59 {
  background-color: var(--white);
  border-radius: 14px;
  height: 165px;
  left: 776px;
  position: absolute;
  top: 267px;
  width: 217px;
}
.homerectangle-60 {
  background-color: var(--white);
  border-radius: 14px;
  height: 165px;
  left: 1126px;
  position: absolute;
  top: 271px;
  width: 217px;
}
.homerectangle-64 {
  height: 254px;
  left: 120px;
  object-fit: cover;
  position: absolute;
  top: 41px;
  width: 435px;
}
.homerectangle-9 {
  background-color: transparent;
  border: 0;
  height: 184px;
  left: 0px;
  padding: 0;
  position: absolute;
  resize: none;
  top: 0px;
  width: 550px;
}
.regular-earnings {
  left: 1178px;
  letter-spacing: 0.3px;
  position: absolute;
  text-align: center;
  top: 289px;
}
.safe-customer {
  display: block;
  height: 570px;
  margin-top: 18px;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 100%;
}
.safe-customer:hover {
  transform: translate(0, -5px);
  box-shadow: 0px 12px 5px -8px rgba(0, 0, 0, 0.2);
}
.sale-badge {
  height: 104px;
  left: 127px;
  pointer-events: auto;
  position: absolute;
  top: 215px;
  transition: all 0.2s ease;
  width: 335px;
}
.sale-badge-1 {
  height: 104px;
  left: 553px;
  pointer-events: auto;
  position: absolute;
  top: 214px;
  transition: all 0.2s ease;
  width: 335px;
}
.sale-badge-1:hover {
  transform: scale(1.1);
}
.sale-badge-2 {
  height: 103px;
  left: 127px;
  pointer-events: auto;
  position: absolute;
  top: 332px;
  transition: all 0.2s ease;
  width: 335px;
}
.sale-badge-2:hover {
  transform: scale(1.1);
}
.sale-badge-3 {
  height: 104px;
  left: 979px;
  pointer-events: auto;
  position: absolute;
  top: 98px;
  transition: all 0.2s ease;
  width: 335px;
}
.sale-badge-3:hover {
  transform: scale(1.1);
}
.sale-badge-4 {
  height: 104px;
  left: 553px;
  pointer-events: auto;
  position: absolute;
  top: 99px;
  transition: all 0.2s ease;
  width: 335px;
}
.sale-badge-4:hover {
  transform: scale(1.1);
}
.sale-badge-5 {
  height: 104px;
  left: 127px;
  pointer-events: auto;
  position: absolute;
  top: 98px;
  transition: all 0.2s ease;
  width: 335px;
}
.sale-badge-5:hover {
  transform: scale(1.1);
}
.sale-badge-6 {
  height: 103px;
  left: 553px;
  pointer-events: auto;
  position: absolute;
  top: 332px;
  transition: all 0.2s ease;
  width: 335px;
}
.sale-badge-6:hover {
  transform: scale(1.1);
}
.sale-badge-7 {
  height: 104px;
  left: 979px;
  pointer-events: auto;
  position: absolute;
  top: 215px;
  transition: all 0.2s ease;
  width: 335px;
}
.sale-badge-7:hover {
  transform: scale(1.1);
}
.sale-badge-8 {
  height: 103px;
  left: 979px;
  pointer-events: auto;
  position: absolute;
  top: 332px;
  transition: all 0.2s ease;
  width: 335px;
}
.sale-badge-8:hover {
  transform: scale(1.1);
}
.sale-badge:hover {
  transform: scale(1.1);
}
.save-money-1 {
  height: 50px;
  left: 516px;
  object-fit: cover;
  position: absolute;
  top: 65px;
  width: 44px;
}
.seacrh-button {
  background-color: var(--san-marino);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 38px;
  left: 433px;
  pointer-events: auto;
  position: absolute;
  top: 212px;
  transition: all 0.2s ease;
  width: 88px;
}
.seacrh-button:hover {
  transform: scale(1.1);
}
.slider {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 329px;
  margin-top: 13px;
  min-width: 100%;
  position: relative;
}
.smooth-technology {
  left: 820px;
  letter-spacing: 0.3px;
  position: absolute;
  text-align: center;
  top: 285px;
}
.start-listing-button {
  background-color: var(--fun-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 41px;
  margin-left: 4.75px;
  margin-top: 13px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 138px;
}
.start-listing-button:hover {
  transform: scale(1.1);
}
.submit {
  height: 27px;
  left: 18px;
  letter-spacing: 0.3px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 7px;
  width: 102px;
}
.hometext-1 {
  left: 127px;
  letter-spacing: 0.2px;
  line-height: 56px;
  position: absolute;
  top: 18px;
  white-space: nowrap;
  width: 736px;
}
.hometext-10 {
  left: 784px;
  letter-spacing: 0.2px;
  line-height: 20px;
  position: absolute;
  top: 163px;
  width: 255px;
}
.hometext-11 {
  left: 396px;
  letter-spacing: 0.1px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 124px;
  white-space: nowrap;
  width: 283px;
}
.hometext-12 {
  left: 396px;
  letter-spacing: 0.2px;
  line-height: 20px;
  position: absolute;
  top: 167px;
  width: 280px;
}
.hometext-13 {
  left: 148px;
  letter-spacing: 0.2px;
  line-height: 20px;
  position: absolute;
  top: 170px;
  width: 204px;
}
.hometext-14 {
  align-self: center;
  height: 21px;
  letter-spacing: 0.2px;
  line-height: 18px;
  margin-right: 0.15px;
  min-height: 21px;
  hometext-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  width: 657px;
}
.hometext-15 {
  align-self: center;
  height: 69px;
  letter-spacing: 0.2px;
  line-height: 18px;
  margin-right: 5.15px;
  margin-top: 18px;
  min-height: 69px;
  width: 652px;
}
.hometext-16 {
  height: 72px;
  left: 164px;
  letter-spacing: 0.3px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 197px;
  width: 245px;
}
.hometext-17 {
  left: 830px;
  letter-spacing: 0.3px;
  position: absolute;
  text-align: center;
  top: 50px;
  width: 100px;
}
.hometext-18 {
  left: 1130px;
  letter-spacing: 0.3px;
  position: absolute;
  text-align: center;
  top: 46px;
  width: 200px;
}
.hometext-19 {
  left: 796px;
  letter-spacing: 0.3px;
  position: absolute;
  text-align: center;
  top: 82px;
  width: 179px;
}
.hometext-2 {
  left: 127px;
  letter-spacing: 0.7px;
  line-height: 50px;
  position: absolute;
  top: 87px;
  white-space: nowrap;
  width: 736px;
}
.hometext-20 {
  left: 800px;
  letter-spacing: 0.3px;
  position: absolute;
  text-align: center;
  top: 313px;
  width: 179px;
}
.hometext-21 {
  left: 1148px;
  letter-spacing: 0.3px;
  position: absolute;
  text-align: center;
  top: 76px;
  width: 179px;
}
.hometext-22 {
  left: 1150px;
  letter-spacing: 0.3px;
  position: absolute;
  text-align: center;
  top: 315px;
  width: 179px;
}
.hometext-3 {
  height: 20px;
  letter-spacing: 0.2px;
  line-height: 20px;
  min-height: 20px;
  white-space: nowrap;
  width: 256px;
}
.hometext-4 {
  height: 89px;
  letter-spacing: 0.2px;
  line-height: 32px;
  min-height: 89px;
  width: 542px;
}
.hometext-5 {
  height: 48px;
  letter-spacing: 0.1px;
  line-height: 22px;
  margin-top: 59px;
  min-height: 48px;
  width: 542px;
}
.hometext-6 {
  left: 596px;
  letter-spacing: 0.2px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 328px;
  white-space: nowrap;
  width: 265px;
}
.hometext-7 {
  left: 1116px;
  letter-spacing: 0.1px;
  line-height: 24px;
  pointer-events: auto;
  position: absolute;
  text-align: center;
  top: 147px;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: 200px;
}
.hometext-7:hover {
  transform: scale(1.1);
}
.hometext-8 {
  left: 1116px;
  letter-spacing: 0.2px;
  line-height: 20px;
  position: absolute;
  top: 190px;
  width: 246px;
}
.hometext-9 {
  left: 784px;
  letter-spacing: 0.1px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 122px;
  white-space: nowrap;
  width: 222px;
}
.title-hometext {
  height: 40px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 920px;
}
.untitled-removebg-preview-1 {
  height: 50px;
  left: 760px;
  object-fit: cover;
  position: absolute;
  top: 65px;
  width: 46px;
}
.homevector-1 {
  background-color: transparent;
  border: 0;
  height: 54px;
  left: 0px;
  padding: 0;
  position: absolute;
  resize: none;
  top: 8px;
  width: 272px;
}
.homevector-1-1 {
  background-color: transparent;
  border: 0;
  height: 54px;
  left: 0px;
  padding: 0;
  position: absolute;
  resize: none;
  top: 5px;
  width: 272px;
}
.homevector-37 {
  display: block;
  height: 170px;
  left: 736px;
  pointer-events: auto;
  position: absolute;
  top: 35px;
  transition: all 0.2s ease;
  width: 279px;

  transform: rotate(25deg);
}
.homevector-37:hover {
  transform: scale(1.1);
}
.homevector-41 {
  display: block;
  height: 164px;
  left: 1087px;
  position: absolute;
  top: 31px;
  width: 283px;

  transform: rotate(25deg);
}
.homevector-46 {
  display: block;
  height: 190px;
  left: 747px;
  position: absolute;
  top: 254px;
  width: 266px;

  transform: rotate(25deg);
}
.homevector-49 {
  display: block;
  height: 162px;
  left: 1088px;
  position: absolute;
  top: 274px;
  width: 283px;

  transform: rotate(25deg);
}
.homevector-7 {
  height: 104px;
  left: 354px;
  position: absolute;
  top: 137px;
  width: 2px;
}
.homevector-8 {
  height: 104px;
  left: 710px;
  position: absolute;
  top: 137px;
  width: 1px;
}
.homevector-9 {
  height: 104px;
  left: 1064px;
  position: absolute;
  top: 139px;
  width: 1px;
}
.verified-1 {
  height: 50px;
  left: 516px;
  object-fit: cover;
  position: absolute;
  top: 65px;
  width: 44px;
}
.why-choose-fbso {
  background-color: var(--whisper);
  height: 414px;
  margin-top: 16px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 100%;
}
.why-choose-fbso:hover {
  transform: translate(0, -5px);
  box-shadow: 0px 12px 5px -8px rgba(0, 0, 0, 0.2);
}
.why-choose-fsbopk {
  left: 2px;
  letter-spacing: 0.1px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: 922px;
}
.x123-1 {
  height: 38px;
  left: 209px;
  object-fit: cover;
  position: absolute;
  top: 75px;
  width: 27px;
}
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Mulish:400,700,600|Roboto:400,700");
* {
  box-sizing: border-box;
}
.border-1px-nobel {
  border: 1px solid var(--nobel);
}
.mulish-bold-black-14px {
  color: var(--black);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}
.mulish-bold-black-20px {
  color: var(--black);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-20px);
  font-style: normal;
  font-weight: 700;
}
.mulish-bold-cape-cod-18px {
  color: var(--cape-cod);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}
.mulish-bold-cape-cod-32px {
  color: var(--cape-cod);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-32px);
  font-style: normal;
  font-weight: 700;
}
.mulish-bold-cape-cod-44px {
  color: var(--cape-cod);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xxxxxxxxl);
  font-style: normal;
  font-weight: 700;
}
.mulish-bold-fantasy-12px {
  color: var(--fantasy);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}
.mulish-bold-gray-19px {
  color: var(--gray);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}
.mulish-bold-white-14px {
  color: var(--white);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}
.mulish-normal-black-14px {
  color: var(--black);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
.mulish-normal-black-32px {
  color: var(--black);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-32px);
  font-style: normal;
  font-weight: 400;
}
.mulish-normal-cape-cod-14px {
  color: var(--cape-cod);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
.mulish-normal-rolling-stone-14px {
  color: var(--rolling-stone);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
.mulish-semi-bold-cape-cod-30px {
  color: var(--cape-cod);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xxxxxxl2);
  font-style: normal;
  font-weight: 600;
}
.mulish-semi-bold-rolling-stone-24px {
  color: var(--rolling-stone);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-24px);
  font-style: normal;
  font-weight: 600;
}
.roboto-bold-black-32px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-32px);
  font-style: normal;
  font-weight: 700;
}
.roboto-normal-pumice-20px {
  color: var(--pumice);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-20px);
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-suva-gray-15px {
  color: var(--suva-gray);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-15px);
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-suva-gray-20px {
  color: var(--suva-gray);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-20px);
  font-style: normal;
  font-weight: 400;
}
:root {
  --black: rgba(0, 0, 0, 1);
  --cape-cod: rgba(55, 63, 65, 1);
  --fantasy: rgba(248, 241, 241, 1);
  --font-family-mulish: "Mulish", Helvetica;
  --font-family-roboto: "Roboto", Helvetica;
  --font-size-15px: 15px;
  --font-size-20px: 20px;
  --font-size-24px: 24px;
  --font-size-32px: 32px;
  --font-size-m: 14px;
  --font-size-s: 12px;
  --font-size-xl: 18px;
  --font-size-xxl: 19px;
  --font-size-xxxxxxl2: 30px;
  --font-size-xxxxxxxxl: 44px;
  --fun-blue: rgba(12, 90, 165, 1);
  --gray: rgba(128, 128, 128, 1);
  --nobel: rgba(181, 181, 181, 1);
  --pumice: rgba(196, 197, 200, 1);
  --rolling-stone: rgba(115, 123, 125, 1);
  --san-marino: rgba(60, 99, 176, 1);
  --suva-gray: rgba(135, 135, 135, 1);
  --whisper: rgba(244, 246, 251, 1);
  --white: rgba(255, 255, 255, 1);
}

.homevalign-hometext-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.valign-hometext-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
